*.bat
*.conf
*.html
*.log
*.old
*.pyc
*.pyo
*.tmp
build/
logs/
tests/
tmp/
desktop.ini
/*.rar
/*.zip
test*
*.lnk
addon/doc/*.css
addon/doc/en/
*_docHandler.py
*.html
manifest.ini
*.mo
*.pot
*.pyc
*.nvda-addon
.sconsign.dblite
