addon/doc/*.css
addon/doc/en/
*_docHandler.py
*.html
*.mo
*.pot
*.pyc
*.nvda-addon
.sconsign.dblite
*.conf
*.log
*.old
*.pyo
*.tmp
build/
logs/
tests/
tmp/
desktop.ini
/*.rar
/*.zip
test*
*.lnk
manifest.ini