addon/doc/*.css
addon/doc/en/
*_docHandler.py
*.html
*.mo
*.pot
*.pyc
*.nvda-addon
.sconsign.dblite
*.conf
*.log
*.old
*.pyo
*.tmp
build/
logs/
tests/
tmp/
desktop.ini
/*.rar
/*.zip
test*
*.lnk
manifest.ini

# Created by https://www.toptal.com/developers/gitignore/api/code
# Edit at https://www.toptal.com/developers/gitignore?templates=code

### Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/code
